$primary: #303136;
$secondary: #4d4e53;
$light-grey: #9b9b9e;
$input: #6d6d71;
$dropdown: #5b5c61;
$searchbar: #424247;
$sidebar-text: #8e8f91;
$chat-bg: #393a40;

$light-green: #9acb24;
$dark-green: #197411;
$dark-green-hover: #1e8415;