.forgot-password-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    h3 {
        font-size: 26px;
        padding: 10px;
    }

    input {
        @include basic-input;
        width: 40vw;
        margin: 10px;
        max-width: 400px;
    }

    button {
        width: 10vw;
        max-width: 200px;
        display: flex;
        justify-content: center;
    }

    .input-section {
        display: flex;
        position: relative;
        input {
            margin: 0 0 10px;
        }
        span {
            position: absolute;
            bottom: 12.7px;
            right: 12px;
            cursor: pointer;
            background-color: $input;
        } 
    }
}