.signup {
    @include form;
    
    padding: 1rem;
    
    img {
        width: 18rem;
    }

    input {
        width: 30vw;
        min-width: 240px;
    }

    .right-side {
        .header {
            padding:0;
            margin-bottom:-10px;
            h1 { 
                font-size: 1.6rem; 
                padding-bottom:0;
            }
            p { 
                font-size: 1rem; 
                padding-bottom: 0;
            }
        }
        .input-section > input {
            margin:0;
        }
    }

    .image-upload-section {
        position: relative;
        margin-bottom: 10px;
        img {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            border-radius: 50%;
        }
        .image-upload {
            font-size: 34px;
            position: absolute;
            left: 14px;
            bottom: 18px;
        }
    }

    p {
        padding: 15px 0;
    }
}

@media (max-width: 1200px) {
    .signup {
        img {
            width: 12rem;
        }
    }
}

@media (max-width: 700px) {
    .signup {
        img {
            width: 10rem;
        }
    }
}