@mixin basic-input {
    background-color: $input;
    color: white;
    border: 1px solid #8a8a8e;
    border-radius: 3px;
    padding: 6px 10px;
    width: 100%;
    &::placeholder { // Chrome, Firefox, Opera, Safari 10.1+ 
        color: #adadae;
        opacity: 1; // Firefox 
      }
      
    &:-ms-input-placeholder { // Internet Explorer 10-11 
        color: $light-grey;
    }
      
    &::-ms-input-placeholder { // Microsoft Edge 
        color: $light-grey;
    }
}

.input-section {
    display: flex;
    flex-direction: column;
    padding: 3px;
    label, small {
        font-size: 0.7rem;
        padding: 10px 0;
        opacity: 0.5;
    }
    input {
        @include basic-input;
    }
}